aniso8601==3.0.0
click==6.7
Flask==1.0.2
Flask-JWT-Extended==3.9.1
Flask-MongoAlchemy==0.7.2
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
MongoAlchemy==0.19
passlib==1.7.1
PyJWT==1.6.4
pymongo==2.8.1
pytz==2018.4
six==1.11.0
Werkzeug==0.14.1
